*{
    margin: 0%;
    padding: 0%;
    font-family: arial;
    box-sizing: border-box ;

}
a{
    text-decoration: none;
}
header{
    padding: 5px 10px;
    background-color: rgba(217, 83, 5, 0.908);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nev-box1{
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nev-box1:hover{
    border: 1px solid black;
}
#amazon-logo{
    width: 100px;
    height: 30px;
    color: aliceblue;
}
/* location-box2 */
.nev-box2{
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    padding: 5px 20px;
    

}
.nev-box2:hover{
    border: 1px solid black;
}
#span1{
    padding-left: 18px;
    font-size: 0.7rem;
}
#icon1{
    font-size: 1rem;

}
#span2{
   font-size: 0.9rem;
}
/* searchbar-box3 */
.nev-box3{
    padding: 10px 4px 10px 3px;
    width: 696.5px;
    height: 40px;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.nev-box3:hover{
    border: 1px solid black;
}
.div-select1{
    width: 45px;
    height: 40px;
}
#select1{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #3b3b3b;

}
#input1{
    width: 100%;
    height: 40.5px;
    border: none;
    padding: 0px 10px 0px 10px;
    font-size: 1.15rem;
    text-transform: capitalize;
}

.div-icon2{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sign-box4 */
.nev-box4{
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    padding: 5px 20px;
}
.nev-box4:hover{
    border: 1px solid black;
}
.div-sign1{
    width: 100px;
}
#sign1{
    font-size: 0.7rem;
    text-transform: capitalize;
}
#account1{
    text-transform: capitalize;
    font-size: 0.9;
}
/* retums-box5 */
.nev-box5{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
     height: 50px;
    padding: 5px 20px ;
}
.nev-box5:hover{
    border: 1px solid black;
}
#retums{
    font-size: 0.7rem;
}
#order{
    font-size: 0.9rem;
}
/* cart-box6 */
.nev-box6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
     height: 50px;
    padding: 5px 20px;

}
.nev-box6:hover{
    border: 1px solid black;
}
#cart-icon{
    font-size: 2rem;
}
.div-cart1{
    padding-top: 20px;
}
#cart1{
    font-size: 0.9rem;
    text-transform: capitalize;
}
/* navber complets */
/* new-second-ber  */
.secend-nev{
    padding-left: 11px;
    background-color: #A24900;
    display: flex;
    align-items: center;
}
.secend-nev-box1{
    width: 58px;
    height: 35px;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.secend-nev-box1:hover{
    border: 1px solid black;
}
#secend-nev-icon{
    font-size: 1.2rem;
    color: black;

}
#secend-nev-span{
     font-size: 0.9rem

}
.secend-nev-box2{
    width: 1012.58px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-right: 400px;
    align-items: center;
}
.nev2-box2-div{
    padding: 0px 5px;
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
  
}
.nev2-box2-div:hover{
    border: 1px solid black;
}
#box2-div-a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 0.8rem;
}
/* nev-secend-complets */
/* hero-section-started */
.hero-div{
    height: 350px;
    background-image: url(amazon-img/amazon\ background\ img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-content{
    font-size: 0.8rem;
    width: 90%;
    height: 40px;
    padding: 10px 14px;
    background-color: #1d2021;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    
    
}
.bye-contener{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(39, 53, 33, 0.678);
}
.div-bye-item{
    width: 300px;
    height: 420px;
    background-color: #181a1b;
    padding: 20px 0px 15px 0px;
    
}
.div-bye-item-h2{
   padding: 0px 20px;
   margin-bottom: 10px;
   font-size: 15px;
}
.div-bye-item-img-box{
    width: 180px;
    height: 151px;
    display: flex;
    width: 250px;
    margin: auto;
    gap: 12px;
    margin-bottom: 8px;
}
.img-box-1{
    width: 135;
    height: 130px;
    background-size: cover;
}
.img-1{
    width: 125px;
    height: 110px;
}
/* .img-text{
    color: aqua; */


#span-1{
    width: 180px;
    height: 16px;
    font-size: 13px;

}
.new-div-img-1{
    width: 178px;
    height: 280px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: 20px;
}
#img-new{
    width: 260px;
    height: 290px;
}



#big{
    height: 1000px;
}




