*{
    margin: 0%;
    padding: 0%;
    font-family: arial;
    box-sizing: border-box ;
    color: white;

}
hr{
    width: 100%;
    height: 0.25px;
}

a{
    text-decoration: none;
}
header{
    padding: 5px 10px;
    background-color: rgba(217, 83, 5, 0.908);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nev-box1{
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nev-box1:hover{
    border: 1px solid black;
}
#amazon-logo{
    width: 100px;
    height: 30px;
    color: aliceblue;
}
/* location-box2 */
.nev-box2{
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    padding: 5px 20px;
    

}
.nev-box2:hover{
    border: 1px solid black;
}
#span1{
    padding-left: 18px;
    font-size: 0.7rem;
}
#icon1{
    font-size: 1rem;

}
#span2{
   font-size: 0.9rem;
}
/* searchbar-box3 */
.nev-box3{
    padding: 10px 4px 10px 3px;
    width: 696.5px;
    height: 40px;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.nev-box3:hover{
    border: 1px solid black;
}
.div-select1{
    width: 45px;
    height: 40px;
}
#select1{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #3b3b3b;

}
#input1{
    width: 100%;
    height: 40.5px;
    border: none;
    padding: 0px 10px 0px 10px;
    font-size: 1.15rem;
    text-transform: capitalize;
}

.div-icon2{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sign-box4 */
.nev-box4{
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    padding: 5px 20px;
}
.nev-box4:hover{
    border: 1px solid black;
}
.div-sign1{
    width: 100px;
}
#sign1{
    font-size: 0.7rem;
    text-transform: capitalize;
}
#account1{
    text-transform: capitalize;
    font-size: 0.9;
}
/* retums-box5 */
.nev-box5{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
     height: 50px;
    padding: 5px 20px ;
}
.nev-box5:hover{
    border: 1px solid black;
}
#retums{
    font-size: 0.7rem;
}
#order{
    font-size: 0.9rem;
}
/* cart-box6 */
.nev-box6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
     height: 50px;
    padding: 5px 20px;

}
.nev-box6:hover{
    border: 1px solid black;
}
#cart-icon{
    font-size: 2rem;
}
.div-cart1{
    padding-top: 20px;
}
#cart1{
    font-size: 0.9rem;
    text-transform: capitalize;
}
/* navber complets */
/* new-second-ber  */
.secend-nev{
    padding-left: 11px;
    background-color: #A24900;
    display: flex;
    align-items: center;
}
.secend-nev-box1{
    width: 58px;
    height: 35px;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.secend-nev-box1:hover{
    border: 1px solid black;
}
#secend-nev-icon{
    font-size: 1.2rem;
    color: black;

}
#secend-nev-span{
     font-size: 0.9rem

}
.secend-nev-box2{
    width: 1012.58px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-right: 400px;
    align-items: center;
}
.nev2-box2-div{
    padding: 0px 5px;
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
  
}
.nev2-box2-div:hover{
    border: 1px solid black;
}
#box2-div-a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 0.8rem;
}
/* nev-secend-complets */
/* hero-section-started */
.hero-div{
    height: 350px;
    background-image: url(amazon-img/amazon\ background\ img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-content{
    font-size: 0.8rem;
    width: 90%;
    height: 40px;
    padding: 10px 14px;
    background-color: #1d2021;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    
}

/* div-bye-contener-1 sterted */

.bye-contener{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(39, 53, 33, 0.678);
    padding-top: 30px;
}
.div-bye-item{
    width: 300px;
    height: 420px;
    background-color: #181a1b;
    padding: 20px 0px 15px 0px;
    
}
.div-bye-item-h2{
   padding: 0px 20px;
   margin-bottom: 10px;
   font-size: 15px;
}
.div-bye-item-img-box{
    width: 180px;
    height: 151px;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    gap: 12px;
    margin-bottom: 8px;
}
.img-box-1{
    width: 135;
    height: 130px;
    background-size: cover;
}
.img-1{
    width: 125px;
    height: 110px;
}



#span-1{
    width: 180px;
    height: 16px;
    font-size: 13px;

}
.new-div-img-1{
    width: 178px;
    height: 280px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: 20px;
}
#img-new{
    width: 260px;
    height: 290px;
}

/* div-bye-contener-2 started */

#div-byr-contener-2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(39, 53, 33, 0.678);
    padding-top: 30px;
}
.div-bye-contener-2-a{
    display: flex;
    gap: 30px;
}
.div-box-of-bye-item{
    width: 305px;
    height: 420px;
    display: flex;
    background-color: #181a1b;
    padding: 20px 0px 15px 0px;

}  
.div-bye-item-h2-2{
   padding: 0px 20px;
   margin-bottom: 10px;
   font-size: 15px;
} 
.div-contenar-bye-2-ing-1{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.img-2-1{
    width: 125px;
    height: 110px;
}
.img-name-p{
    font-size: 12px;
    text-transform: capitalize;
}
.box-a{
    font-size: 13px;
}
.img-2-2{
    width: 260px;
    height: 280px;
}
.div-contenar-bye-2-ing-2{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
    margin-bottom: 18px;
}

/* div-bye-contener-3-strated */

.div-berye-3-conten{
    padding: 20px 20px;
    background-color: rgba(39, 53, 33, 0.678);
}
.div-bye-3-item-box{
    background-color:  #181a1b;
}
.div-bye-3-h2{
    padding: 10px 20px;
}
.div-img-box-1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    background-color:  #181a1b;
}

/* div-bye-contener-4-sterted */

.div-berye-4-conten{
    padding: 20px 20px;
    background-color: rgba(39, 53, 33, 0.678);
}
.div-bye-4-item-box{
    background-color:  #181a1b;
}
.div-bye-4-h2{
    padding: 10px 20px;
}
.div-img-box-1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    background-color:  #181a1b;
}

/* div-5-strted */

.div-bye-5-contener{
    background-color: #181a1b;
    padding: 0px 20px;
    
}
.div-5-h2-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.div-bye-5-item-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #181a1b;
}
.div-5-icon{
    width: 42px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-5-icon-box{
    border: 1px solid white ;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-5-img-content{
    max-width: 150px;
    line-height: 1.6;
    white-space: normal;
    text-transform: capitalize;
    font-size: 14px;
    color: #74b1e3;
}
.icon-star-1{
    /* background-color: yellow; */
    display: flex;   
}
.icon-star-1 i {
    color: yellow;
}
.icon-p{
    color: white;
    padding-left: 10px;
}
.span-price-1{
    padding-top: 10px;
}
/* hr-tag se niche */
.div-box-5-sing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#h2-5-box{
    padding-top: 50px;
    text-align: center;
}
.div-box-5-sing a {
    width: 171px;
    height: 30px;
    background-color: rgba(232, 232, 11, 0.815);
    border-radius: 10px;
    padding: 5px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-box-5-sing a span{
    color: white;
}

.div-new-customer{
    padding: 10px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footeer-started-know */

footer{
    margin-top: 10px;
    padding: 10px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1c2632;

}
.heading-back-to-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;
    background-color: #1c2640;
}
.heading-back-to-home a {
    color: aliceblue;
    text-transform: capitalize;

}
.footer-div-content{
    display: flex;
    /* background-color: red; */
    gap: 60px;
}
.div-content-footer-1{
    padding: 5px 10px;
    background-color: #1c2632;
}
.div-content-heading{
    padding: 7px 0px 14px;
    font-size: 20px;
    text-transform: capitalize;
}
ul{
    list-style-type: none;
    gap: 10px;
}
li{
    padding-bottom: 5px;
}
/* div-last-box-strated */
.div-footer-last-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-footer-logo img {
    width: 150px;
    height: 45px;
}
#lala{
    height: 200px;
}

/* @midea-started */
/* moble-ke liye  */

@media (max-width: 480px) {
    .nev-box1{
        width: 60px;
        height: 30px;
    }
    #amazon-logo{
        width: 50px;
        height: 20px;
    }
    .nev-box2{
        display: none;
       
    }
    .nev-box3{
        width: 60%;
        height: 30px;
    }
    
    .nev-box4{
        display: none;
    }
    .nev-box5{
        display: none;
    }
    .nev-box6{
        width: 60px;
        height: 30px;
    }
    #cart-icon{
        font-size: 22px;
    }
    #cart1{
        font-size: 10px;
    }
    .div-select1{
        width: 28px;
        height: 30px;
    }
    #input1{
        height: 30px;
        font-size: 15px;
    }
    .div-icon2{
        width: 28px;
    }
    .div-icon2 i {
        font-size: 12px;
    }
    .secend-nev-box2{
        height: 27px;
    }
    .secend-nev-box1{
        height: 25px;
    }
    .nev2-box2-div{
        display: none;
    }
    .hero-div{
        width: 100%;
        height: 150px;
    }
    .hero-content{
        font-size: 4.5px;
        height: 10px;
        width: 90%;
        padding: 2px;
    
    }
        

    
}





