*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;  
    padding: 20px;
    justify-content: space-between;
}
.divname{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    transition: all 2s ease-in;
}
.divancher{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1.5s ease-in-out;
}
.divicon{
    display: flex;
    gap: 20px;
    color: brown;
}
i{
    transition: all 1.5s ease-in-out;
}
.divname:hover{
    transform: scale(1.25);
    color: brown;
}
a:hover{
    transform: scale(1.2);
    color: brown 
}
i:hover{
    transform: scale(1.5);
}
@media (max-width: 600px){
    header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .divicon{
        display: none;
    }
}
