*{
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;  
    padding: 20px;
    justify-content: space-between;
}
.divname{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    transition: all 2s ease-in;
    color: white;
}
.divancher{
    display: flex;
    gap: 50px;
}

.a1{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1.5s ease-in-out;
}
.divlogo{
    color: brown;
}
i{
    transition: all 1.5s ease-in-out;
}
.divname:hover{
    transform: scale(1.25);
    color: brown;
}
.a1:hover{
    transform: scale(1.2);
    color: brown 
}

@media (max-width: 1100px){
    header{
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px;
    }
    .divancher{
        
        gap: 30px;
    }
    .divlogo{
        display: none;
    }
}
@media (max-width:480px){
    .divancher{
        gap: 20px;
        font-size: 15px;
    }
}
.divphotocontent1{
    display: flex;
    padding: 10px 80px 10px 80px;
    justify-content: space-between;
}
#myphoto{
    width: 250px;
    height: 300px;
    border-radius: 50%;
    transition: all 2s ease-in;

}
.divphotodescription{
    padding-right: 70px;
    padding-top: 40px;
    
}
#h2{
    text-transform: capitalize;
    font-size: 40px;
    color: blueviolet;
}
#h3{
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(174, 106, 238);

}
.divicon{
    display: flex;
    gap: 30px;
    font-size: 30px;
    padding-top: 250px;

}
i{
        color: red;
}
#myphoto:hover{
    transform: scale(1.2);
}
i:hover{
    transform: scale(1.5);
}
@media (max-width:1100px){
    .divphotocontent1{
        padding: 20px 0px 5px 20px;
        flex-direction: column;
        align-items: center;
    }
    #myphoto{
        width: 200px;
        height: 250px;
    }
    .divphotodescription{
        padding: 20px;
    }
    .divicon{
        padding: 10px 20px;
    }

}
@media (max-width:480px){
    .divphotocontent1{
        flex-direction: column;
        align-items: center;
    }
    .divphotodescription{
        padding: 30px 50px 20px 65px;

    }
    #h2{
        padding: 0px 20px 0px 20px;
    }
    #h3{
        padding: 2px 10px 8px 15px;
        color: rgb(163, 111, 211);
    }
    .divicon{
        padding: 0px 20px;
    }

}
#h1project{
    padding: 30px 10px 0px 10px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
section{
    padding: 50px 95px;
    display: flex;
    justify-content: space-between;

}
.div-project-img{
    border-radius: 10px;
    border: 0.01px solid rgb(237, 224, 224);
    overflow: hidden;
}
img{
    width: 330px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0.5px 0.8px 5px whitesmoke ;
    transition: all 1.5s ease-in-out ;
}
.h2{
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;

}
.h3{
    font-size: 27.5px;
    text-transform: capitalize;
    text-align: center;
}
.a2{
    color: rgb(38, 38, 167);
    text-decoration: none;
    transition: all 1.3s ease-in-out;
}
img:hover{
    transform: scale(0.6);

}
@media (max-width:1100px){
    section{
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 30px 95px;
    }
}
@media (max-width:480px){
    #h1project{
        font-size: 40px;
    }
    img{
        width: 200px;
        height: 150px;
    }
    .h2{
        font-size: 25px;
    }
    .h3{
        font-size: 22.5px;
    }
}
/* skills-section started */
.section-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skill-name{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.div-skills{
    width: 90%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    padding: 50px;
    border: 1px solid white;

}
.name-of-skill-1{
    font-size: 90px;
}
.div-skills-papa{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-left: 100px;

}
.skills-name-all{
    font-size: 20px;
    text-transform: capitalize;


}
.div-line-1{
    width: 1px;
    height: 150px;
    background-color: white;
}
.name-of-skill-2nd{
    font-size: 90px;
    margin-bottom: 50px ;
}
.div-skills-papa-2{
    display: flex;
    align-items: center;
    gap: 120px;
    
}
.skills-name-all-2{
    font-size: 25px;
    text-transform: capitalize;
}
@media (max-width:900px){
    .div-skills{
        margin-top: 20px;
    }
    #skill-name{
        font-size: 40px;
    }
    .name-of-skill-1{
        font-size: 60px;
    }
    .div-skills-papa{
        gap: 50px;
    }
    .skills-name-all{
        font-size: 20px;
    }
    .name-of-skill-2nd{
        font-size: 60px;
    }
    .skills-name-all-2{
        font-size: 20px;
    }
    .div-skills-papa-2{
        gap: 80px;
    }
}
@media (max-width:480px){
    
    .div-skills{
        margin: 0px;
        width: 220px;
        height: auto;
        padding: 20px 10px;
    }
    .name-of-skill-1{
        font-size: 27px;
        text-align: left;
    }
    .div-skills-papa{
        gap: 20px;
        flex-direction: column;
        padding: 0%;
    }
    .skills-name-all{
        font-size: 15px;
    }
    .div-line-1{
        display: none;
    }
    .name-of-skill-2nd{
        font-size: 27px;
        margin: 0%;
    }
    .div-skills-papa-2{
        gap: 20px;
        flex-direction: column;
    }
    .skills-name-all-2{
        font-size: 15px;
    }
}