*{
    margin: 0%;
    padding: 0%;
    color: white;
}
header{
    display: flex;  
    padding: 20px;
    justify-content: space-between;
    background-color: black;
}
.divname{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    transition: all 2s ease-in;
    color: white;
}
.divancher{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1.5s ease-in-out;
}
.divlogo{
    color: brown;
}
i{
    transition: all 1.5s ease-in-out;
}
.divname:hover{
    transform: scale(1.25);
    color: brown;
}
a:hover{
    transform: scale(1.2);
    color: brown 
}

@media (max-width: 600px){
    header{
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px;
    }
    .divancher{
        
        gap: 30px;
    }
    .divlogo{
        display: none;
    }
}
@media (max-width:360px){
    .divancher{
        gap: 20px;
        font-size: 15px;
    }
}
.divphotocontent1{
    background-color: black;
    display: flex;
    padding: 10px 80px 10px 80px;
    justify-content: space-between;
}
img{
    width: 250px;
    height: 300px;
    border-radius: 50%;
    transition: all 2s ease-in;

}
.divphotodescription{
    padding-right: 70px;
    padding-top: 40px;
    
}
h2{
    text-transform: capitalize;
    font-size: 40px;
    color: blueviolet;
}
h3{
    text-transform: capitalize;
    font-size: 20px;

}
.divicon{
    display: flex;
    gap: 30px;
    font-size: 30px;
    padding-top: 250px;

}
i{
        color: red;
}
img:hover{
    transform: scale(1.2);
}
i:hover{
    transform: scale(1.5);
}
@media (max-width:668px){
    .divphotocontent1{
        padding: 20px 0px 5px 20px;
    }
    img{
        width: 200px;
        height: 250px;
    }
    .divphotodescription{
        padding: 20px;
    }

}
@media (max-width:480px){
    .divphotocontent1{
        flex-direction: column;
        align-items: center;
    }
    .divphotodescription{
        padding: 30px 50px 20px 65px;

    }
    h2{
        padding: 0px 20px 0px 20px;
    }
    h3{
        padding: 2px 10px 8px 15px;
        color: rgb(163, 111, 211);
    }
    .divicon{
        padding: 0px 20px;
    }

}

