*{
    margin:0px;
    padding: 0%;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
}

.divnavbar{
    display: flex;
    gap: 50px;
        
}
a{
    text-decoration: none;
    color: white;
}
#divicon{
    position: absolute;
    right: 50px;
    display: flex;
    gap: 40px;
}
i{
    background-color: rgb(236, 29, 29);
    font-size: 30px;
    border-radius: 8px;
    transition: transform 1s ease;
}
i:hover{
    transform: scale(1.2);
}
#name{
    position: absolute;
    left: 25px;
    font-size: 27px;
    font-family: cursive;
    transition: transform 3s ease;
}
#name:hover{
    transform: scale(1.3);
    font-family: poppins;
}
.divphoto1{
    width: 100%;
    height:460px ;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#myphoto1{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px; 
    transition: trancform 3s ease;
    
}
#myphoto1:hover{
   transform: scale(1.05);
    animation: shakeEffect 3s infinite;
}
@keyframes shakeEffect{
    0%, {transform : scale(1.05) translateX(0); }
    25% {transform : scale(1.2) translateX(-6px); }
    50%  {transform : scale(1.25) translateX(6px); }
    75%  {transform : scale(1.2) translateX(-6px); }
    100%  {transform : scale(1.05) translateX(0); }
}
#photocoment{
    margin-top:10px ;
    margin-left: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
#discription1{
    max-width: 500px;
    line-height: 22px;
    margin-top: 10px;
    font-size: 18px;
}
#typing{
    font-size: 40px;
    color: #be2222;
    opacity: 0;
    transform: translateX(-90px);
    animation: slideIn 5s ease-out forwards;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-90px);
        color: white;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


